body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

form input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
